/vendor
/node_modules
/log
/logs
/public/assets/
/public/fonts/
/public/js
/public/css
/public/storage
/public/uploads/
/public/mix-manifest.json
/public/runtime.js
public/attachment
.codeintel/
/storage/debugbar/
/storage/dragonpay/
/storage/json/Branch.json
/config/deploy.rb
_ide_helper.php
_ide_helper_models.php
Homestead.yaml
Homestead.json
.env
.env.staging
.env.production
config/deploy.rb
.DS_Store
.composer/
.cache/
.node_repl_history
.yarnrc
.yarn-error.log
.bash_history
.config/
.npm/
.yarn/
.eslintcache